<div class="row">
  <div class="col-sm-12">
     
  </div>
</div>
<div class="row">
    <form (ngSubmit)="newGroup(newName); newName='';">
      <div class="col-sm-3">
        
        <input type="text" class="form-control form-control-lg" placeholder="Voer naam in" name="groupname">
        </div>
        <div class="3">
          <button class="btn btn-outline-success">Toevoegen</button>
          
         
      </div>
      </form>
</div>
<hr>
<div class="row">
  <div class="col-sm-2">
      <h3>Koffiegroepen</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
      <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let availableGroup of availableGroups">
              {{availableGroup}} <button class="float-right btn btn-danger" (click)="deleteGroup(availableGroup)"><i class="fa fa-trash"></i> </button>
          </li>
      </ul>
  </div>
</div>

<!-- Bootstrap modal for messages -->
<div #myModal class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">{{messageHeader}}</h4>
        </div>
        <div class="modal-body">
          <p>{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
        </div>
      </div>
  
    </div>
  </div>